# Python venvs, caches
.venv/
__pycache__/

# Databases
*.db
*.sqlite3

# Secrets
.env
SETUP_SCRIPT/.env

# Misc
covers/
SETUP_SCRIPT/.env.example

# Training items and similarity matrix
.pkl
backend/similarity_matrix.pkl
backend/game_indices.pkl
backend/game_list.pkl
